
*.pper
/.Rproj.user
.Rhistory
timeserieselectricity/_site/.DS_Store
/timeserieselectricity/.Rproj.user
/timeserieselectricity/.Rproj.user
timeserieselectricity/.quarto/preview/lock
timeserieselectricity/_site/.DS_Store
.DS_Store
timeserieselectricity/.DS_Store
